<%- include("header") %>
<%- include("navbar") %>

<div class="error404-container">

  <div class="error404-entry">
    <h1>Error 404: the page does not exists.</h1>
    <h2>Or does it? The code certainly doesn't know it - check your spelling!</h2>
  </div>

<script src="scripts/navbar-script.js" type="text/javascript" defer></script>
<script src="scripts/index-menu-script.js" type="text/javascript" defer></script>

<%- include("footer") %>