<%- include("header") %>
<%- include("navbar") %>

  <div class="about-container">

    <div class="about-entry">
      <div class="about-upper">
        <img class="profile-img" src="/images/profile-img.png" alt="Norbert Bakk">
        <div class="about-upper-text">
          <h2>Hello! I'm Norbert,</h2>
          <h3>a fervent tech enthusiast from Hungary.</h3>
          <p>“Know all the theories, master all the techniques, but as you touch a human soul be just another human soul.” 
            <br> - Carl Jung
          </p>
        </div>
      </div>

      <div class="about-middle">
        <p>
          It's been <span id="age"></span> years since I've got the chance to experience the world around me. I've always been interested in how things work, and is always eager to learn new things - challenging myself on every corner.<br><br>
          I strongly believe that cooperation, dedication and hard work is the key to any kind of success - therefore I strongly emphasise on these values in my professional and just everyday life generally.<br><br>
          In my personal life I like to read books of all kinds, be it about tech, philosophy, fantasy; I find myself highly enjoying classical literature and poems - I don't neccessarily have a favourite author, but I do have a (one of many actually) favourite book: <i>Crime and Punishment</i> by Fyodor Dostoevsky.<br><br>
          I'm also into gaming (as 99% of the IT people are), and memes (as 99% of the people are).<br><br>
        </p>
      </div>

      <div class="about-bottom">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/56dvEv8PIWFuc5vJQLPM0L?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
    </div>

  </div>

  <script src="scripts/navbar-script.js" type="text/javascript" defer></script>
  <script src="scripts/index-menu-script.js" type="text/javascript" defer></script>
  <script src="scripts/bio-script.js" type="text/javascript" defer></script>

<%- include("footer") %>