<%- include("header") %>
<%- include("navbar") %>

  <div class="experience-container">

    <div class="experience-entry">
      <h2>Technical Implementation Specialist and Backlog Manager at bmetric</h2>
      <h3>09/2022 - Present</h3>
      <p>Engineering and deploying customer-focused web solutions, driving enhanced user experiences.</p>
      <p>Responsibility for enhancing codebase: refactoring, updating features, ensuring compatibility, optimizing performance, and resolving
        bugs.</p>
      <p>Leading initiatives for enhancing internal processes through effective project management.</p>
      <p>Effectively managing backlog tasks to ensure streamlined project execution, promptly deploying assignments, and actively engaging
        stakeholders.</p>
    </div>

    <div class="experience-entry">
      <h2>Excellence System & Productivity Specialist. (Lean coordinator) at FORVIA</h2>
      <h3>09/2021 - 09/2022</h3>
      <p>Exemplified implementation leadership by orchestrating the digitalization of "mLean" systems throughout the plant, spanning
        logistics, production, and offices. Notably, successfully driving the "Digital Management Control" project to fruition.</p>
      <p>Continuous Improvements by gathering data for action plans and using PDCA cycles to drive ongoing enhancements. Setting up
        feedback channels, consultations, and priorities for direct participants. </p>
      <p>Performance Trackings by ensuring alignment with KPI goals by devising action plans for metric improvement. Monitoring risks that
        could adversely affect performance.</p>
      <p>Operational Excellence in ways enhancing Direct Labor Efficiency (DLE) through various activities, such as optimized routing times
        and workshops like HOSHIN & SMED. Focus on standardization, training, and audits for consistent improvement across processes.</p>
    </div>

    <div class="experience-entry">
      <h2>Junior Process Engineer at FORVIA</h2>
      <h3>10/2020 - 09/2021</h3>
      <p>Managed Financial Processes: Engaging in both CAPEX and OPEX processes, primarily involving communication with suppliers, external firms, and contractors. This includes tasks like requesting and maintaining quotes, document preparation, payback
        calculations, and initial investment presentation drafts</p>
      <p>Participatated in Innovative Projects: actively contributing to projects like "STARGATE," which involves automated scanning of
        incoming raw materials, and the development of the "Automatic Tip Changer" for robot welders, entailing the installation of an
        automatic tip changer mechanism. </p>
      <p>Project Oversights and Problem Solvings: overseed essential aspects of assigned mid-level projects, while also addressed challenges
        that arise during the project execution.</p>
    </div>

    <div class="experience-entry">
      <h2>Translator accross Hungarian-Russian-Ukrainian-English languages at FORVIA</h2>
      <h3>06/2020 - 10/2020</h3>
      <p>Translating official documentations from and to languages mentioned above.</p>
      <p>Creating training materials across the languages mentioned above.</p>
    </div>

    <div class="experience-entry">
      <h2>Ticket Controller, Buffet Cashier & VIP Attendant at CinemaCity as student</h2>
      <h3>09/2017 - 05/2020</h3>
    </div>

  </div>

  <script src="scripts/navbar-script.js" type="text/javascript" defer></script>
  <script src="scripts/index-menu-script.js" type="text/javascript" defer></script>

<%- include("footer") %>