<nav class="navbar">
  <div class="navbar-logo"><span>norbert bakk</span> |</div>
  <a href="#" class="navbar-toggle">
    <i class="fa-solid fa-bars"></i>
  <div class="navbar-links">
    <ul>
      <li><a id="homeNav">Home</a></li>
      <li><a id="portfolioNav">Portfolio</a></li>
      <li><a id="expNav">Professional Experience</a></li>
      <li><a id="socialsNav">Socials</a></li>
      <li><a id="contactNav">Contact Me</a></li>
      <li><a id="aboutNav">About Me</a></li>
    </ul>
  </div>
</nav>

<div class="popup-container" id="socialsNavPopupContainer">
  <div class="popup-content">
        <div class="sub-menu" id="smenu-socials" style="height: 300px;">
          <p class="smenu-title">socials</p>
          <a class="smenu-option smenu-redirect" href="https://www.linkedin.com/in/norbert-b-270035178" target="_blank" rel="noopener noreferrer">LinkedIn</a>
          <a class="smenu-option smenu-redirect" href="https://github.com/norbert-bakk" target="_blank" rel="noopener noreferrer">GitHub</a>
          <a class="smenu-option smenu-redirect" href="https://stackoverflow.com/users/14335104/norbert" target="_blank" rel="noopener noreferrer">Stack Overflow</a>
          <a class="smenu-option smenu-redirect" href="https://hashnode.com/@norbert99" target="_blank" rel="noopener noreferrer">Hashnode</a>
        </div>
        <div class="button-wrapper">
          <button class="popup-button popup-close-btn">Close</button>
        </div>
  </div>
</div>

<div class="popup-container" id="contactNavPopupContainer">
  <div class="popup-content">
    <div class="sub-menu smenu-contact-me" style="height: 200px;">
      <p class="smenu-title" id="contact-me-smenu">contact me</p>
      <div class="contact-card" id="contact-card"></div>
    </div>
    <div class="button-wrapper">
      <a href="mailto:bakknorbert@outlook.com" class="popup-button" id="mailto-popup">Mailto</a>
      <button class="popup-button popup-close-btn">Close</button>
    </div>
  </div>
</div>